legend{
	font: bold 14px/16px "微软雅黑";
	margin-bottom: 8px;
}
tr,th,td,input{padding: 0;}
tr{height: 35px; padding-bottom: 15px;}
th{
	width: 60px;
	text-align: left;
	font: 12px "宋体" ;
	vertical-align: middle;
}
input[type="text"]{
	width: 200px;height: 20px;
	border: 1px solid #ddd;
}
input[type="submit"]{
	width: 40px;height: 20px;
	background-color: blue;color: white;
	font: 12px "宋体";
	text-align: center;
	vertical-align: middle;
	border: none;
}
