body{
	font: 12px "宋体";
}
.dropbtn {
    width: 50px;
    height: 28px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: block;
    position: absolute;
    background-color: white;
    top: 29px;
    word-wrap: normal;
    
}

.dropdown-content a {
	height: 30px;
	border: 1px solid #DDDDDD;
    color: black;
    padding: 0 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: block;
}